<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tigerAppDeposit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name="com.example.tigerAppDeposit.HistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.MoneyBalanceActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.OtpInputActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.SettingTimeBoxOpenActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.SettingMenuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.OpenBoxStatusActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.FinishLoadingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.OpenBoxMenuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.TestSystemActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.UserListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.DepositActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tigerAppDeposit.MainActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>